test_event_traps
test_runtime_stack
test_variable_table
test_array_manager
test_string_heap
test_string_manager
test_error_handling
test_simple_error
test_string_functions
test_mem_and_deftype
test_width
test_graphics_get_put
test_draw
test_draw_integration
